{% extends 'base.html' %}

{% block content %}
<h2>Universitetlar Ro'yxati</h2>

<!-- Qidiruv formasi -->
<form method="GET" action="">
    <input type="text" name="q" placeholder="Universitetni qidirish..." class="form-control" value="{{ request.GET.q }}">
    <button type="submit" class="btn btn-primary mt-2">Qidirish</button>
</form>

<!-- Natijalar ro'yxati -->
<table class="table table-striped mt-4">
    <thead>
    <tr>
        <th>Nomi</th>
        <th>Manzil</th>
        <th>Sayt</th>
        <th>Rektor</th>
        <th>Telefon</th>
        <th>Xorijiy Hamkorlik</th>
        <th>Status</th> <!-- Davlat/Nodavlat -->
    </tr>
    </thead>
    <tbody>
    {% for universitet in universitetlar %}
    <tr>
        <td>{{ universitet.nomi }}</td>
        <td><a href="{{ universitet.manzil }}" target="_blank">Ko'rish</a></td>
        <td><a href="{{ universitet.site }}" target="_blank">{{ universitet.site }}</a></td>
        <td>{{ universitet.rektor }}</td>
        <td>{{ universitet.contact }}</td>
        <td>{{ universitet.xorij_hamkorlik }}</td>
        <td>{% if universitet.davlat %} Davlat {% else %} Nodavlat {% endif %}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="7">Universitet topilmadi.</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
